<%= simple_form_for(@product, html: {class: 'form-inline'}) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= f.association :group, collection: @groups, selected: lambda { |v|v.last == f.object.group_id}, input_html: {class: 'form-control'}, label: t('category.title') %>
  </div>
  <% available_locales.each do |locale| %>
  <div class="form-inputs">
    <%= f.input "title_#{locale}".to_sym, as: :string, input_html: {class: 'form-control'},
     label: "#{t('product.title')}[#{locale.to_s}]" %>
  </div>
  <% end %>
  <div class="form-inputs">
    <%= f.input :calories, as: :integer,input_html: {class: 'form-control'}, label: t('product.calories') %>
  </div>
  <div class="form-inputs">
    <%= f.input :fats, as: :float,input_html: {class: 'form-control'}, label: t('product.fats') %>
  </div>
  <div class="form-inputs">
    <%= f.input :proteins, as: :float,input_html: {class: 'form-control'}, label: t('product.proteins') %>
  </div>
  <div class="form-inputs">
    <%= f.input :carbohydrates, as: :float,input_html: {class: 'form-control'}, label: t('product.carbohydrates') %>
  </div>
  <div class="form-inputs">
    <%= f.input :image, input_html: {class: 'form-control'} %>
  </div>
  <div class="actions">
   <%= f.button :submit, class: 'btn btn-primary form-control',value: t('submit_text') %>
  </div>
<% end %>
