<!-- <nav class="navbar navbar-default">
  <div class="container">
    <%= link_to 'Create', new_product_path, class: "btn btn-default" %>
  </div>
</nav> -->
<!-- create product -->
<% if can? :create, Product %>
<%= link_to(new_product_path) do %>
<%= render partial: 'create_product' %>
<% end %>
<% end %>

<!-- show all products-->
<% @products.each do |product| %>
<%= render partial: 'product', locals: { product: product } %>
<% end %>

<div class='clearfix'></div>

<div class='pagination_panel'>
  <%= will_paginate @products, renderer: BootstrapPagination::Rails %>
</div>


